.main{
    background:whitesmoke;
    width:830px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}

.article-info{
    text-align: center;
    margin-top: 10px;
}

.article_tags{
    text-align: center;
}

.article_tags a{
    color: white;
}

.comment-info{
    text-align: right;
}