
.article-group{
    width:800px;
    margin-left: 10px;
}

.article-title a{
    color: #995e4c;
    font-weight:900;
}

.article-info{
    text-align: right;
}

.article-info.article-author{
    margin-right: 20px;
}

.article-list li{
    border-bottom: 1px solid ;
    list-style: none;
    border-bottom-color: gray;
}

.main{
    background:whitesmoke;
    width:1000px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}
.menu {
    font:12px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
    width:500px;
    height:auto;
    margin:0 auto;
}

#menu {
    font: 12px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
}

#menu, #menu li {
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 0; /* 将默认的内边距去掉 */
    margin: 0; /* 将默认的外边距去掉 */
}

#menu li {
    float: left; /* 往左浮动 */
}

#menu li a {
    display: block; /* 将链接设为块级元素 */
    padding: 8px 50px; /* 设置内边距 */
    background: #6a8897; /* 设置背景色 */
    color: #fff; /* 设置文字颜色 */
    text-decoration: none; /* 去掉下划线 */
    border-right: 1px solid #7d7d7d; /* 在左侧加上分隔线 */
}