
.article-group{
    width:800px;
    margin-left: 10px;
}

.article-title a{
    color: #995e4c;
    font-weight:900;
}

.article-info{
    text-align: right;
}

.article-info.article-author{
    margin-right: 20px;
}

.article-list li{
    border-bottom: 1px solid ;
    list-style: none;
    border-bottom-color: gray;
}

.main{
    background:whitesmoke;
    width:1000px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}