.form_container{
    width:300px;
    margin: auto;
}
.login_title{
    text-align: center;
}
.main{
    background:whitesmoke;
    width:630px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}