.form_container{
        width:800px;
        margin: auto;
}
.main{
    background:whitesmoke;
    width:1000px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}

.editor{
    display: none;
}