
.article-group{
    width:800px;
    margin-left: 10px;
}

.article-title a{
    color: #995e4c;
    font-weight:900;
}

.article-info{
    text-align: right;
}

.article-info.article-author{
    margin-right: 20px;
}

/*.article-list li{*/
.odd{
    border-bottom: 1px solid ;
    list-style: none;
    border-bottom-color:dimgray;
    margin:20px;
    background: white;
}

.even{
    border-bottom: 1px solid ;
    list-style: none;
    border-bottom-color: dimgray;
    margin:20px;
    background: #f5e4ff;
}

.main{
    background:whitesmoke;
    width:1000px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}
.menu {
    font:12px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
    width:500px;
    height:auto;
    margin:0 auto;
}
