{% extends 'base.html' %}
{% block head %}
{#    {% from bootsrap/pagination.html import render_pagenation %}#}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block title %}首页{% endblock %}
{% block main %}
    <div class="main">
        <ul class="article-list">
            {% for article in articles %}
                <li>
                    <div class="article-group">
                        <div class="article-title"><a
                                href="{{ url_for('detail',article_id=article.id) }}"> {{ article.title }}</a></div>
                        <p class="article-content">{{ article.content | truncate(240, True,'.....') }}</p>
                        <div class="article-info">
                            <span class="article-author">{{ authors[article.id] }}</span>
                            <span class="article-time">{{ article.create_time }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
            <nav style="text-align: center">
            <ul class="pagination">
            <li>
                <a href="
                        {% if pagination.has_prev %}{{ url_for('.index',page=pagination.page - 1) }}{% else %}#{% endif %}">«</a>
            </li>
            {% for p in pagination.iter_pages() %}
                <li>
                    <a href="{{ url_for('.index',page=p) }}">{{ p }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="
                        {% if pagination.has_next %}{{ url_for('.index',page=pagination.page + 1)}}{% else %}#{% endif %}">»</a>
            </li>
        </ul>
            </nav>
    </div>
{% endblock %}