{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
{% endblock %}
{% block main %}
    <div class="main">
        <h3 class="page_title">{{ article.title }}</h3>
        <p class="article-info">
            <span>作者：{{ author.username }}</span>
            <span>时间：{{ article.create_time }}</span>
            {% if article.edit_time %}<span>修改时间：{{ article.edit_time }}</span>{% endif %}
            <span>分类：{{ category.name | is_none }}</span>
        </p>
        <p class="article_tags">标签：{% if tags %}{% for tag in tags %}
            <span class="label label-default"><a href="
                                {{ url_for('main.search_article',item = tag,search_type = 'tag') }}">{{ tag }}</a></span>
        {% endfor %}
        {% else %} 未设定{% endif %}
        </p>
        <hr>{% if article.content_html %}
        <p class="article-content">{{ article.content_html | safe }}</p>
        {% else %}<p class="article-content">{{ article.content | safe }}</p>{% endif %}
        <hr>
        {% if user %}
            {% if user.admin %}
                <a href="{{ url_for('admin.edit_blog',article_id = article.id) }}" class="editblog">修改文章</a>
                <a href="{{ url_for('admin.delete_action',item_id = article.id, item_name = 'article') }}"
                   class="delete_blog">删除文章</a>
            {% endif %}
        {% endif %}
        <h4>评论</h4>
        {% if user %}
            <form action="{{ url_for('main.add_comment') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name=comment_content placeholder="填写评论">
                    <input type="hidden" name="article_id" value="{{ article.id }}">
                </div>
                <div class="form-group">
                    <button class="btn btn-default">评论</button>
                </div>
            </form>
        {% else %}
            <p><a href="{{ url_for('main.login') }}">登陆</a>后才能评论</p>
        {% endif %}
        {% if comments %}
            {% for comment in comments %}
                {% if loop.first %}
                <h3>评论数：({{ comments_count }})</h3><hr>{% endif %}
                <h4 class="comment">{{ comment.content }}</h4>
                <p class="comment-info">
                    <span>by {{ comment_author[comment.id] }}</span>
                    <span>at {{ comment.create_time }}</span>
                    {% if user %}{% if user.admin %}
                        <a href="{{ url_for('admin.delete_action',item_id=comment.id,item_name='comment') }}"
                           class="delete_comment">删除评论</a>
                    {% endif %}{% endif %}
                </p>
                <hr>
            {% endfor %}{% endif %}{% if comments %}
        <nav style="text-align: center">
            <ul class="pagination">
                <li>
                    <a href="

                            {% if pagination.has_prev %}{{ url_for('main.detail',page=pagination.page - 1,article_id = article.id) }}{% else %}#{% endif %}">«</a>
                </li>
                {% for p in pagination.iter_pages() %}
                    <li>
                        <a href="{{ url_for('main.detail',page=p,article_id = article.id) }}">{{ p }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="

                            {% if pagination.has_next %}{{ url_for('main.detail',page=pagination.page + 1,article_id = article.id) }}{% else %}#{% endif %}">»</a>
                </li>
            </ul>
        </nav>
        </div>{% endif %}

{% endblock %}